'on': [push, pull_request]

jobs:
  test:
    runs-on: ${{matrix.os}}
    name: OTP ${{matrix.otp}} / Elixir ${{matrix.elixir}}
    strategy:
      fail-fast: false
      matrix:
        include:
          - otp: '21'  # :parse_trans does not support OTP 20 anymore
            elixir: '1.7.4'
            os: 'ubuntu-20.04'
          - otp: '22'
            elixir: '1.7.4'
            os: 'ubuntu-20.04'
          - otp: '21'
            elixir: '1.9'
            os: 'ubuntu-20.04'
          - otp: '22'
            elixir: '1.9'
            os: 'ubuntu-20.04'
          - otp: '21'
            elixir: '1.11'
            os: 'ubuntu-20.04'
          - otp: '24'
            elixir: '1.11'
            os: 'ubuntu-22.04'
          - otp: '22'
            elixir: '1.13'
            os: 'ubuntu-20.04'
          - otp: '24'
            elixir: '1.13'
            os: 'ubuntu-22.04'
    steps:
      - uses: actions/checkout@v2
      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}
      - run: mix deps.get
      - run: mix test
